* {
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
a:hover {
    text-decoration: underline;
}

.content{
    width: 100%;
}
nav {
    display: flex;
    justify-content: flex-end;
    //margin: auto pushes everything to the right
    // margin-left   : auto;
    padding-top: .5em;    
    //float: right;
    //why does float make the nav bar come down?
    

    a {
        color: rgba(0,0,0, 0.87);
        cursor: pointer;
        font-size: 13px;
        padding-left: 15px;
        padding-top: 13px;
        font-weight: 350;
        display: inline-block;
    } 

    #google-dots {
        width:22px;
        height: 22px;
        padding: auto 0px;
        padding-top: .6em;
        padding-left: 30px;
        cursor: pointer;
    }
   
    #account-circle {
        width:35px;
        height: 35px;
        padding-top: .3em;
        padding-right:  25px;
        padding-left: 20px;
    }
}


.section-1 {
    width: 100%;
    text-align: center;
    flex: 1;
    
    #google-image {
        display: block;
        margin: 0px auto;
        margin-top: 5em;
    }
    
    .s-box {
        width: 580px;
        position: relative;
        margin: 0px auto;
        text-align: center;
        margin-top: -8px;
        .search-bar {
            display: block;
            border: 1px solid #ddd;
            color: rgba(0,0,0, 0.87);
            padding: 15px 19px;
            padding-bottom: 8px;
            border-radius: 25px;
            width: 93%;
            margin-top: 2em;
            transition: box-shadow 100ms;   
            outline: none;

            input {
                border: none;
                outline: none;
                height: 25px;
                width: 90%;
                margin-top: -47px;
                padding-top: 5px;
                margin-left: -5px;
                font-size: 16px;
            }
                
        }

        .search-bar:hover {
            border: 1px solid #fff;
            box-shadow: 0 0 5px rgba(0,0,0, 0.05),
                        0 0 5px rgba(0,0,0, 0.05),
                        0 0 8px rgba(0,0,0, 0.05),
                        0 0 9px rgba(0,0,0, 0.05),
                        0 0 10px rgba(0,0,0, 0.05),
                        0 0 3px rgba(0,0,0, 0.05),
                        0 0 6px rgba(0,0,0, 0.05);
        }
        
        .search-icon {
            display: block;
            width: 20px;
            opacity: .4;
            position: absolute;
            top: 14px;
            left: 15px;
            padding-right: 50px;
        }
 
        .vs-icon {
            width: 13px;
            position: absolute;
            top: 13px;
            right: 20px;
            cursor: pointer;
        }

        button {
            padding: .6em 1.5em;
            border: none;
            font-size: 14px;
            margin: .3em;
            margin-top: 28px;
            background: #F8F9FA;
            border-radius: 4px;
            cursor: pointer;
            display: inline-block;
            opacity: .9;
            
        }

        button:hover {
            box-shadow:inset 0px 0px 1px 1px rgba(0,0,0, 0.1);
        }
    }

    .lang {
        margin-top: 30px;
        text-align: center;
        color: #111;
        
        
       .langs {
        margin-top: 2em;
        font-size: 13px;

        a {
            padding-right: 10px;
            color: #1A0DAB;   
        }

       }

    }

}    
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    background: #F2F2F2;
    
    a {
        padding: 1em;
        color: #5F6368;
        display: inline-block;
        opacity: .9;
    }    
}

.footer-top {
    padding: 1.1em;
    padding-left: 2em;
    color: rgba(0,0,0, 0.54);
    border-bottom: 1px solid #ddd;

}

.footer-bottom {
    display: flex;
    padding: 0 1em;
    justify-content: space-between;
}
.midi {
    position: relative;
    text-align: center;
    margin-left: -163px;
    .leaf{
        position: absolute;
        width: 12px;
        top:14px;
        left: -5px;
        
    }
}


@media only screen and (max-width: 1200px) {
    .footer-bottom {
        position: relative;
        justify-content: space-evenly;
        text-align: center;
        padding: 0;
    }

    .footer-top {
        margin-bottom: 50px;
    }
    .midi {
        width: 100%;
        top: -50px;
        position: absolute;
        margin-left: 83%;
        padding-left: 0;
        text-align: left;
    }
}

@media screen and (max-width: 670px){
    .footer-bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left, .right {
        display: flex;
        //flex:100%;
        flex-direction: row;
        //text-align: center;
    }

    .midi {
        margin-left: 72%;
    }

    .section-1 .s-box{
        width: 100%;

        .search-bar {
            width: 85%;
            display: block;
            margin-left: 1em;
            margin-right: 1em;
        }

        .search-icon {
            left: 30px;
        }

        .vs-icon {
            right: 9%;
        }
    }
}   

@media screen and (max-width: 500px){
    .section-1 .s-box{
        width: 100%;
        .search-bar {
            width: 85%;
            display: block;
            margin-left: 1em;
            margin-right: 1em;
        }

        .search-icon {
            left: 30px;
        }

        .vs-icon {
            right: 7.5%;
        }
    }
}